html {
    font-family: "Roboto", "Helvetica", sans-serif;
}

body {
    margin: 0%;
}

.section {
    padding-left: 20%;
    padding-right: 20%;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-bottom: 84px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 84px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 24px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 18px;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: whitesmoke;
    font-weight: 700;
    font-size: medium;
    padding: 8px 20px;
    border-radius: 20px;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder {
    width: 100%;
}

.placeholder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.second {
    padding: 48px 30% 72px 30%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.panels {
    display: flex;
    gap: 24px;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: baseline;
    align-items: center;
    text-align: center;
}

.panel-img {
    display: flex;
    border: 5px #3882f6 solid;
    border-radius: 10px;
}

.third.section {
    padding: 72px 30% 72px 30%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: #e5e7eb;
}

.quotation {
    text-align: left;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}

.fourth {
    padding: 72px 20% 72px 20%;

}

.blue-box {
    display: flex;
    background-color: #3882f6;
    border-radius: 5px;
    justify-content: space-between;
    padding: 40px 100px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #e5e7eb;
}

.action {
    font-weight: 900;
}

.signup {
    font-weight: 500;
}

.blue-box button {
    border-color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 30px;
}